<header>
  <h1>
    <a class="header-title" href="{{ "/" | relative_url }}">
      {{ site.title | default: site.github.repository_name }}
      <img src={{ "/assets/images/" | append : "pumas-black.png" | relative_url }} style="width:64px; margin-left:6px">
    </a>
  </h1>
  <h2>{{ site.description | default: site.github.project_tagline }}</h2>
</header>

<div class="menu clearfix">
  <a href="{{ site.repository_url | default: site.github.repository_url }}" id="browse-sources" class="button"><span>Sources</span></a>
  <a href="{{ site.docs_url | default: "/docs/index.html" | relative_url }}" id="browse-the-wiki" class="button"><span>Docs</span></a>
  <a href="{{ site.api_url | default: "/docs/api/index.html" | relative_url }}" id="browse-the-api" class="button"><span>API</span></a>
  <a href="{{ site.repository_url | default: site.github.repository_url }}-materials" id="get-materials" class="button"><span>Materials</span></a>
</div>
