<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    <div id="container">
      <div class="inner">
        {% include header.html %}

        <section id="main_content">
          {% for post in site.posts %}
          <a class="post" href="{{ post.url | relative_url }}">
            {% if post.thumbnail %}
              <div class="post-thumbnail" style="background-image: url({{ "/assets/images/" | append : post.thumbnail | relative_url }})"></div>
            {% else %}
            {% endif %}
            <div class="post-content">
              <div class="post-title">{{post.title}}</div>
              <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
              <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
              <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | append: " words" }}{% endunless %}</span>
            </div>
          </a>
          {% endfor %}
        </section>

        {% include footer.html %}
      </div>
    </div>
    {% include analytics.html %}
  </body>
</html>
